
@model IEnumerable<Project_KFC_WEB.Models.food>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Menu</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
